<h3>Active Listings</h3>
<div class="c-content__property c-content__property--active">
    <div class="c-content__property-item">
        <a href="#">
            <div class="c-content__property-main">
                <div class="c-content__property-image">
                    <img src="" alt="" id="listing1_img">
                </div>
                <div class="c-content__property-price h-clearfix">
                    <div class="c-content__property-price-current" id="listing1_price">
                    </div>
                    <div class="c-content__property-price-changes c-content__property-price-changes--up">
                        <span class="value">6,5</span>
                    </div>
                </div>
            </div>
            <div class="c-content__property-desc">
                <div class="c-content__property-info h-clearfix">
                    <div class="c-content__property-address" id="listing1_address">
                    </div>
                    <div class="c-content__property-photos">
                        <span>×</span> 12
                    </div>
                </div>
                <div class="c-content__property-features h-clearfix">
                    <div class="c-content__property-feature c-content__property-feature--beds" id="listing1_beds">
                    </div>
                    <div class="c-content__property-feature c-content__property-feature--bath" id="listing1_bath">
                    </div>
                    <div class="c-content__property-feature c-content__property-feature--sqft" id="listing1_sqft">
                    </div>
                </div>
            </div>
        </a>
        <div class="c-content__property-favourite"></div>
    </div>
    <div class="c-content__property-item c-content__property-item--favourite">
        <a href="#">
            <div class="c-content__property-main">
                <div class="c-content__property-image">
                    <img src="" alt="" id="listing2_img">
                </div>
                <div class="c-content__property-price h-clearfix">
                    <div class="c-content__property-price-current" id="listing2_price">
                    </div>
                    <div class="c-content__property-price-changes c-content__property-price-changes--down">
                        <span class="value">10</span>
                    </div>
                </div>
            </div>
            <div class="c-content__property-desc">
                <div class="c-content__property-info h-clearfix">
                    <div class="c-content__property-address" id="listing2_address">
                    </div>
                    <div class="c-content__property-photos">
                        <span>×</span> 12
                    </div>
                </div>
                <div class="c-content__property-features h-clearfix">
                    <div class="c-content__property-feature c-content__property-feature--beds" id="listing2_beds">
                    </div>
                    <div class="c-content__property-feature c-content__property-feature--bath" id="listing2_bath">
                    </div>
                    <div class="c-content__property-feature c-content__property-feature--sqft" id="listing2_sqft">
                    </div>
                </div>
            </div>
        </a>
        <div class="c-content__property-favourite"></div>
    </div>
    <div class="c-content__property-item">
        <a href="#">
            <div class="c-content__property-main">
                <div class="c-content__property-image">
                    <img src="" alt="" id="listing3_img">
                </div>
                <div class="c-content__property-price h-clearfix">
                    <div class="c-content__property-price-current" id="listing3_price">
                    </div>
                    <div class="c-content__property-price-changes c-content__property-price-changes--none">

                    </div>
                </div>
            </div>
            <div class="c-content__property-desc">
                <div class="c-content__property-info h-clearfix">
                    <div class="c-content__property-address" id="listing3_address">
                    </div>
                    <div class="c-content__property-photos">
                        <span>×</span> 12
                    </div>
                </div>
                <div class="c-content__property-features h-clearfix">
                    <div class="c-content__property-feature c-content__property-feature--beds" id="listing3_beds">
                    </div>
                    <div class="c-content__property-feature c-content__property-feature--bath" id="listing3_bath">
                    </div>
                    <div class="c-content__property-feature c-content__property-feature--sqft" id="listing3_sqft">
                    </div>
                </div>
            </div>
        </a>
        <div class="c-content__property-favourite"></div>
    </div>
</div>

<div class="l-row l-row--center">
    <a class="l-btn l-btn-more l-btn--blue" href="#">See More</a>
</div>
<div class="l-divider l-divider--big"></div>