<h3>Past Sales</h3>
<div class="c-content__sales">
    <div class="c-content__sales-row">
        <div class="c-content__sales-col c-content__sales-col--property">
            Property
        </div>
        <div class="c-content__sales-col c-content__sales-col--details">
            Details
        </div>
        <div class="c-content__sales-col c-content__sales-col--represented">
            Represented
        </div>
        <div class="c-content__sales-col c-content__sales-col--price">
            Price
        </div>
    </div>
    <div class="c-content__sales-row">
        <div class="c-content__sales-col c-content__sales-col--property">
            <div class="c-content__sales-property-photo">
                <img src="/images/property/home5.jpg" alt="">
            </div>
        </div>
        <div class="c-content__sales-col c-content__sales-col--details">
            <span class="c-content__sales-price">$900,000</span>
            <span class="c-content__sales-location">Jamul, CA</span>
            <span class="c-content__sales-address">3247 Greystone Dr • Jamul, CA 91935</span>
            <span class="c-content__sales-info">7 bed, 4 bath, 6,150 sqft</span>
            <span class="c-content__sales-date">Sold date: 09/12/2017</span>
        </div>
        <div class="c-content__sales-col c-content__sales-col--represented">
            Seller
        </div>
        <div class="c-content__sales-col c-content__sales-col--price">
            $900,000
        </div>
    </div>
    <div class="c-content__sales-row">
        <div class="c-content__sales-col c-content__sales-col--property">
            <div class="c-content__sales-property-photo">
                <img src="/images/property/home4.jpg" alt="">
            </div>
        </div>
        <div class="c-content__sales-col c-content__sales-col--details">
            <span class="c-content__sales-price">$490,000</span>
            <span class="c-content__sales-location">El Cajon, CA</span>
            <span class="c-content__sales-address">9951 Watergum Trl • Santee, CA 92071</span>
            <span class="c-content__sales-info">6 bed, 5.5 bath, 5,505 sqft</span>
            <span class="c-content__sales-date">Sold date: 07/21/2017</span>
        </div>
        <div class="c-content__sales-col c-content__sales-col--represented">
            Buyer
        </div>
        <div class="c-content__sales-col c-content__sales-col--price">
            $490,000
        </div>
    </div>
    <div class="c-content__sales-row">
        <div class="c-content__sales-col c-content__sales-col--property">
            <div class="c-content__sales-property-photo">
                <img src="/images/property/home12.jpg" alt="">
            </div>
        </div>
        <div class="c-content__sales-col c-content__sales-col--details">
            <span class="c-content__sales-price">$529,000</span>
            <span class="c-content__sales-location">Santee, CA</span>
            <span class="c-content__sales-address">627 Hawthorne Ave • El Cajon, CA 92020</span>
            <span class="c-content__sales-info">6 bed, 5.5 bath, 5,505 sqft</span>
            <span class="c-content__sales-date">Sold date: 09/11/2017</span>
        </div>
        <div class="c-content__sales-col c-content__sales-col--represented">
            Buyer
        </div>
        <div class="c-content__sales-col c-content__sales-col--price">
            $529,000
        </div>
    </div>
    <div class="c-content__sales-row">
        <div class="c-content__sales-col c-content__sales-col--property">
            <div class="c-content__sales-property-photo">
                <img src="/images/property/home6.jpg" alt="">
            </div>
        </div>
        <div class="c-content__sales-col c-content__sales-col--details">
            <span class="c-content__sales-price">$555,000</span>
            <span class="c-content__sales-location">La Mesa, CA</span>
            <span class="c-content__sales-address">9565 Janfred Way • La Mesa, CA 91942</span>
            <span class="c-content__sales-info">6 bed, 5.5 bath, 5,505 sqft</span>
            <span class="c-content__sales-date">Sold date: 07/11/2017</span>
        </div>
        <div class="c-content__sales-col c-content__sales-col--represented">
            Buyer
        </div>
        <div class="c-content__sales-col c-content__sales-col--price">
            $555,000
        </div>
    </div>
    <div class="c-content__sales-row">
        <div class="c-content__sales-col c-content__sales-col--property">
            <div class="c-content__sales-property-photo">
                <img src="/images/property/home7.jpg" alt="">
            </div>
        </div>
        <div class="c-content__sales-col c-content__sales-col--details">
            <span class="c-content__sales-price">$1,265,000</span>
            <span class="c-content__sales-location">La Mesa, CA</span>
            <span class="c-content__sales-address">5160 Alzeda Dr • La Mesa, CA 91941</span>
            <span class="c-content__sales-info">6 bed, 5.5 bath, 5,505 sqft</span>
            <span class="c-content__sales-date">Sold date: 07/07/2017</span>
        </div>
        <div class="c-content__sales-col c-content__sales-col--represented">
            Seller
        </div>
        <div class="c-content__sales-col c-content__sales-col--price">
            $1,265,000
        </div>
    </div>
    <ul class="l-list l-list--pagination">
        <li class="l-list__pagination-control l-list__pagination-control--prev l-list__pagination-control--disabled">
            <a href="#"></a>
        </li>
        <li class="l-list__pagination-pages">
            <span class="l-list-pagination__current">1</span>
            <span class="l-list-pagination__pages-count">32</span>
        </li>
        <li class="l-list__pagination-control l-list__pagination-control--next">
            <a href="#"></a>
        </li>
    </ul>
</div>
<div class="l-divider l-divider--big"></div>