
@{
    Layout = "_HouseLayout";
}

@section Styles {
}

@section Scripts {
}

<div class="c-content__wrap">
    <div class="l-container">
        <div class="c-content__agent-profile h-clearfix">
            <div class="c-content__agent-overview l-col l-col-8">
                <div class="c-content__agent-card">
                    <h1>Melissa Crosby</h1>
                    <div class="c-content__agent-profile-photo">
                        <img src="~/images/agent5.png" alt="">
                    </div>
                    <div class="c-content__agent-rating">
                        <div class="c-content__agent-stars">
                            <span class="c-content__agent-star c-content__agent-star--full"></span>
                            <span class="c-content__agent-star c-content__agent-star--full"></span>
                            <span class="c-content__agent-star c-content__agent-star--full"></span>
                            <span class="c-content__agent-star c-content__agent-star--full"></span>
                            <span class="c-content__agent-star c-content__agent-star--half-full"></span>
                        </div>
                        <div class="c-content__agent-info">
                            <div class="c-content__agent-average">4.5</div>
                            <a href="#" class="c-content__agent-review-count">16</a>
                        </div>
                    </div>
                    <div class="c-content__agent-skill-bars">
                        <div class="c-content__agent-skill-bar">
                            <div class="c-content__agent-skill-bar-title">Local knowledge</div>
                            <div class="c-content__agent-skill-bar-average">4.5</div>
                            <div class="c-content__agent-skill-bar-row--default">
                                <div class="c-content__agent-skill-bar-row" style="width:90%;"></div>
                            </div>
                        </div>
                        <div class="c-content__agent-skill-bar">
                            <div class="c-content__agent-skill-bar-title">Process expertise</div>
                            <div class="c-content__agent-skill-bar-average">4.2</div>
                            <div class="c-content__agent-skill-bar-row--default">
                                <div class="c-content__agent-skill-bar-row" style="width:84%;"></div>
                            </div>
                        </div>
                        <div class="c-content__agent-skill-bar">
                            <div class="c-content__agent-skill-bar-title">Responsiveness</div>
                            <div class="c-content__agent-skill-bar-average">5.0</div>
                            <div class="c-content__agent-skill-bar-row--default">
                                <div class="c-content__agent-skill-bar-row" style="width:100%;"></div>
                            </div>
                        </div>
                        <div class="c-content__agent-skill-bar">
                            <div class="c-content__agent-skill-bar-title">Negotiation Skills</div>
                            <div class="c-content__agent-skill-bar-average">4.1</div>
                            <div class="c-content__agent-skill-bar-row--default">
                                <div class="c-content__agent-skill-bar-row" style="width:82%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="c-content__agent-desc">
                    <h4 class="l-border">About</h4>
                    <p>
                        Being a full-service Realtor since 2007, I have been baptized by fire in a very tough housing market. I have successfully closed over 60 transactions and
                        processed over 70 short sales both as the listing agent and some for other agents. I am very knowledgeable about lenders and their processes. I strive to
                        exceed expectations and never forget that I am always accountable to my clients.
                    </p>
                    <p>
                        My objective is to establish relationships for life, not just for the current transaction. I enjoy assisting home buyers and sellers to get moved to a
                        better place, one that is exciting.
                    </p>
                    <p class="l-small">
                        <strong>Brokerage:</strong> Berkshire Hathaway HomeServices Elite Real Estate
                    </p>
                    <p class="l-small">
                        <strong>Specialties:</strong> Property Management, Buyer’s Agent, Listing Agent…
                    </p>
                    <p class="l-small">
                        <strong>License Number(s):</strong> #5452129
                    </p>
                </div>
            </div>
            <div class="c-content__agent-form l-col l-col-4">
                <div class="l-box">
                    <form class="l-form l-contact-agent-form">
                        <div class="l-form__holder">
                            <h5>Contact Melissa</h5>
                            <div class="l-form__inner">
                                <div class="l-form-row h-clearfix">
                                    <div class="l-form-group">
                                        <input type="text" class="l-form-control" id="inputFirstNameAgent" required>
                                        <label for="inputFirstNameAgent" class="l-form-label">first name</label>
                                        <span class="l-form-control-focus"></span>
                                    </div>
                                </div>
                                <div class="l-form-row h-clearfix">
                                    <div class="l-form-group">
                                        <input type="text" class="l-form-control" id="inputLastNameAgent" required>
                                        <label for="inputLastNameAgent" class="l-form-label">last name</label>
                                        <span class="l-form-control-focus"></span>
                                    </div>
                                </div>
                                <div class="l-form-extra">
                                    <div class="l-form-row h-clearfix">
                                        <div class="l-form-group">
                                            <input type="email" class="l-form-control" id="inputEmailAgent" required>
                                            <label for="inputEmailAgent" class="l-form-label">email</label>
                                            <span class="l-form-control-focus"></span>
                                        </div>
                                    </div>
                                    <div class="l-form-row h-clearfix">
                                        <div class="l-form-group">
                                            <input type="text" class="l-form-control" id="inputPhoneAgent" required>
                                            <label for="inputPhoneAgent" class="l-form-label">phone</label>
                                            <span class="l-form-control-focus"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="l-form-row h-clearfix">
                                    <div class="l-form-group l-form-group--textarea">
                                        <textarea class="l-form-control" id="areaCommentAgent" required></textarea>
                                        <label for="areaCommentAgent" class="l-form-label">comment</label>
                                        <span class="l-form-control-focus"></span>
                                    </div>
                                </div>
                                <div class="l-form-row l-form-row--submit l-row--center">
                                    <button type="submit" class="l-btn l-btn-primary">Submit</button>
                                    <div class="l-form__buttons h-clearfix">
                                        <button type="button" class="l-btn l-btn--action l-btn--gray">Call</button>
                                        <button type="button" class="l-btn l-btn--action l-btn--gray">Leave Review</button>
                                    </div>
                                    <div class="l-form-text">
                                        <a href="#">www.crosbyrealestate.com</a>
                                    </div>
                                    <ul class="l-list l-list--social c-content__agent-form-social">
                                        <li>
                                            <a href="#" target="_blank">
                                                <span class="l-list--social__icon">
                                                    <img src="/images/social/icon-twitter-agent.svg" alt="">
                                                </span>
                                                <span class="l-list--social__icon--hover">
                                                    <img src="/images/social/icon-twitter-agent-dark.svg" alt="">
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <span class="l-list--social__icon">
                                                    <img src="/images/social/icon-facebook-agent.svg" alt="">
                                                </span>
                                                <span class="l-list--social__icon--hover">
                                                    <img src="/images/social/icon-facebook-agent-dark.svg" alt="">
                                                </span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank">
                                                <span class="l-list--social__icon">
                                                    <img src="/images/social/icon-linkedin-agent.svg" alt="">
                                                </span>
                                                <span class="l-list--social__icon--hover">
                                                    <img src="/images/social/icon-linkedin-agent-dark.svg" alt="">
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="l-divider l-divider--big"></div>
        @Html.Partial("_components/_Listings")
        @Html.Partial("_components/_Sales")
        <h3>Ratings &amp; Reviews</h3>
        @Html.Partial("_components/_mobile")
    </div>
</div>